.table {
    width: 80%;
    border-collapse: collapse;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.table__caption {
    font-weight: bold;
    margin: 20px;
}

.table__thead {
    background-color: rgb(132, 0, 255);
    color: antiquewhite;
}

.table__cell {
    border: 2px solid black;
    vertical-align: middle;
    padding: 10px;
}

.table__cell--header {
    font-weight: normal;
}

.table__tbody:hover {
    background-color: rgb(167, 171, 224);
}